<style>

   .skill-item{
      width: 119px;
      height: 119px;
   }
   .skill-item div {
      position: absolute;
   }

   .skill-item .skill-frame {
      transform: scale(1.13);
   }

   .skill-item .skill-img {
      margin-top: 9px;
      margin-left: 11px;
   }
</style>
<!-- <div class="hero-gallery">
   <div class="elemental">
      <div class="cr_fact_1"></div>
      <div class="cr_fact_2"></div>
      <div class="cr_fact_3"></div>
      <div class="cr_fact_4"></div>
      <div class="cr_fact_5"></div>
      <div class="cr_fact_6"></div>
   </div>
   <div class="row">
      <div class="col-1">
         <div class="regency">
            <div class="cr_occu_1"></div>
            <div class="cr_occu_2"></div>
            <div class="cr_occu_3"></div>
            <div class="cr_occu_4"></div>
            <div class="cr_occu_5"></div>
         </div>
      </div>
      <div class="col-11">
         <div class="gallery-content">
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
            <div class="hero-box">
               <div class="cr_step_1 hero-background"></div>
               <div class="cr_it_frame_1 hero-frame"></div>
               <div class="hero">
                  <div class="cr_d_aura_4"></div>
               </div>
               <div class="hero-star star-1">
                  <div class="cr_stars_1"></div>
               </div>
               <div class="hero-level"><span>120</span></div>
               <div class="cr_fact_1 hero-regency"> </div>
            </div>
         </div>
      </div>
   </div>
</div> -->
<div>
   <div class="skill-item">
      <div class="skill-img">
         <div class="sk_psty_truedmg_up"></div>
      </div>
      <div class="skill-frame">
         <div class="it_frame_artifact_4"></div>
      </div>
   </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>