:root {
   --sp-green: #28b99a;
   --sp-green-light: #c8f0e7;
}

.sp-box-title .img-title {
   float: left;
   padding: 0px 8px;
}

.sp-box-title .text-title {
   font-family: Condensed;
   font-weight: bold;
   border-bottom: 1px dashed gray;
}

.sp-box-title .text-title .sub-title {
   display: flex;
}

.hb, .cal {
   text-align: center;
}

.hb-item, .cal-item {
   text-align: center;
   display: inline-block;
   border: 1px solid lightgray;
   margin: 2px;
   cursor: pointer;
   color: ghostwhite;
}

@keyframes light {
   0% {
      filter: contrast(1);
   }
   25% {
      filter: contrast(1.5);
   }
   50% {
      filter: contrast(1);
   }
   75% {
      filter: contrast(0.8);
   }
   100% {
      filter: contrast(1);
   }
}

.hb-item:hover, .hb-item:focus, .cal-item:hover, .cal-item:focus {
   outline: 2px solid var(--sp-green);
   background-color: var(--sp-green-light);
   color: var(--cyan);
   text-decoration: none;
}

@-moz-keyframes spin {
   from {
      -moz-transform: rotate(0deg);
   }
   to {
      -moz-transform: rotate(360deg);
   }
}

@-webkit-keyframes spin {
   from {
      -webkit-transform: rotate(0deg);
   }
   to {
      -webkit-transform: rotate(360deg);
   }
}

@keyframes spin {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}

@keyframes waggle {
   0% {
      transform: rotate(0deg);
   }
   25% {
      transform: rotate(15deg);
   }
   0% {
      transform: rotate(0deg);
   }
   75% {
      transform: rotate(-15deg);
   }
   0% {
      transform: rotate(0deg);
   }
}

.hb-item .hb-img, .cal-item .cal-img {
   height: 90px;
   width: 120px;
   margin: auto;
   padding: 5px 8px;
   /* animation: light 2s infinite; */
}

.hb-item .hb-img:hover, .cal-item .cal-img:hover {
   filter: contrast(1.6);
}

.hb-item .hb-img div, .cal-item .cal-img div {
   margin: auto;
}

.hb-item .hb-text, .cal-item .cal-text {
   display: inline;
   filter: drop-shadow(0px 0px 1px black);
   font-size: x-large;
}

.top-left-transform {
   transform-origin: top left;
}

/** 
MATERIAL
*/

.material-item {
   width: 40px;
   height: 48px;
   padding: 0;
   margin-top: -10px;
}

.material-item .material-bg {
   position: absolute;
   transform: scale(0.6);
   transform-origin: top left;
   margin-top: 3px;
   margin-left: 3px;
}

.material-item .material-frame {
   position: absolute;
   transform: scale(.55);
   transform-origin: top left;
}

.material-item .item {
   position: absolute;
   margin-top: 10px;
   margin-left: 10px;
}

.material-item .item.scale {
   transform: scale(.45);
   transform-origin: top left;
}

.material-item .item.scale>div {
   margin-top: -5px;
   margin-left: -5px;
}

.table-equipment tr td:first-child, .table-equipment tr td:nth-child(2), .table-equipment.equip-3-col tr td:nth-child(3) {
   width: 120px;
   height: 120px;
   padding: 0;
}

.table-equipment tr:nth-child(even) td:first-child, .table-equipment tr:nth-child(even) td:nth-child(2) {
   border-top: none;
}

.equipment-item>div, .rune-item>div {
   position: absolute;
}

.equipment-item .equipment-bg {
   margin-top: 7px;
   margin-left: 7px;
}

.equipment-item .item {
   margin-top: 8px;
   margin-left: 8px;
   transform: scale(.9);
}

.equipment-item .equipment-star {
   transform: scale(.5);
   margin-left: 4px;
}

.equipment-item .equipment-star.star-1 {
   margin-top: 70px;
}

.equipment-item .equipment-star.star-2 {
   margin-top: 50px;
}

.equipment-item .equipment-star.star-3 {
   margin-top: 26px;
}

.equipment-item .equipment-star.star-4 {
   margin-top: 4px;
}

.rune-item {
   width: 106px;
   height: 110px;
   display: inline-block;
}

.rune-item.active .rune-frame {
   transform: scale(1.07);
   animation: changeColor 3s infinite;
}

@keyframes changeColor {
   0% {
      filter: hue-rotate(0deg);
   }
   100% {
      filter: hue-rotate(360deg);
   }
}

.rune-item-1 {
   margin-top: 0;
}

.rune-item-0 {
   margin-top: 1px;
   padding-left: 4px;
}

.rune-item-1 .rune-frame {
   margin-top: 6px;
}

.rune-item-2 .rune-frame {
   margin-top: 1px;
}

.rune-item .rune-bg-1, .rune-item .rune-bg-3, .rune-item .rune-bg-5 {
   margin-top: 11px;
   margin-left: 6px;
}

.rune-item .rune-bg-2, .rune-item .rune-bg-4, .rune-item .rune-bg-6 {
   margin-top: 10px;
   margin-left: 2px;
}

.rune-item .item-1 {
   margin-top: 12px;
   margin-left: 12px;
}

.rune-item .item-2 {
   margin-top: 11px;
   margin-left: 3px;
}

.rune-item .item-3 {
   margin-top: 8px;
   margin-left: 6px;
}

.rune-item .item-4 {
   margin-left: 2px;
   margin-top: 6px;
}

.rune-item .item-5 {
   margin-left: 5px;
   margin-top: 14px;
   transform: scale(.93);
}

.rune-item .item-6 {
   margin-left: 2px;
   margin-top: 7px;
   transform: scale(.93);
}

.rune-item .rune-star {
   transform: scale(.6);
}

.rune-item-1 .rune-star {
   margin-left: 6px;
}

.rune-star.star-1 {
   margin-top: 70px;
}

.rune-star.star-2 {
   margin-top: 46px;
}

.rune-star.star-3 {
   margin-top: 21px;
}

.rune-star.star-4 {
   margin-top: -3px;
}

.rune-star.star-5 {
   margin-top: -20px;
}

.table .rune-item {
   transform: scale(.6);
   transform-origin: top left;
   width: 65px;
   height: 65px;
}

.rune-box .table tr td:nth-child(2) {
   padding: 0;
}

@media (max-width: 992px) {
   .table-equipment tr td:nth-child(1), .table-equipment tr td:nth-child(2), .table-equipment.equip-3-col tr td:nth-child(3), .hero-gallery .hero-box {
      transform: scale(0.7);
      transform-origin: top left;
      height: 75px;
      width: 75px;
   }
}

@media (max-width: 768px) {
   .table-equipment tr td:nth-child(1), .table-equipment tr td:nth-child(2), .table-equipment.equip-3-col tr td:nth-child(3), .hero-gallery .hero-box {
      transform: scale(0.5);
      transform-origin: top left;
      height: 60px;
      width: 53px;
   }
}