<link rel="stylesheet" href="/build/style.css"/>
<div class="format_3v3_bg_1 left"> .format_3v3_bg_1</div>
<div class="format_3v3_bg_2 left"> .format_3v3_bg_2</div>
<div class="format_3v3_bg_3 left"> .format_3v3_bg_3</div>
<div class="format_3v3_bg_4 left"> .format_3v3_bg_4</div>
<div class="gn_btn_down left"> .gn_btn_down</div>
<div class="gn_btn_up left"> .gn_btn_up</div>
<div class="gn_frame_bg_1 left"> .gn_frame_bg_1</div>
<div class="gn_frame_bg_2 left"> .gn_frame_bg_2</div>
<div class="gn_frame_bg_3 left"> .gn_frame_bg_3</div>
<div class="gn_icon_ticket_pvp left"> .gn_icon_ticket_pvp</div>
<div class="gn_rand_1 left"> .gn_rand_1</div>
<div class="gn_rand_2 left"> .gn_rand_2</div>
<div class="gn_rand_3 left"> .gn_rand_3</div>
