<link rel="stylesheet" href="/build/style.css"/>
<div class="sy_activ7_way_bg left"> .sy_activ7_way_bg</div>
<div class="sy_activ7_way_bg2 left"> .sy_activ7_way_bg2</div>
<div class="sy_activ7_way_icon left"> .sy_activ7_way_icon</div>
<div class="sy_activ7_way_icon1 left"> .sy_activ7_way_icon1</div>
<div class="sy_activ7_way_icon1_1_1 left"> .sy_activ7_way_icon1_1_1</div>
<div class="sy_activ7_way_icon1_1_2 left"> .sy_activ7_way_icon1_1_2</div>
<div class="sy_activ7_way_icon1_1_3 left"> .sy_activ7_way_icon1_1_3</div>
<div class="sy_activ7_way_icon1_2_1 left"> .sy_activ7_way_icon1_2_1</div>
<div class="sy_activ7_way_icon1_2_2 left"> .sy_activ7_way_icon1_2_2</div>
<div class="sy_activ7_way_icon1_2_3 left"> .sy_activ7_way_icon1_2_3</div>
<div class="sy_activ7_way_icon2_1_1 left"> .sy_activ7_way_icon2_1_1</div>
<div class="sy_activ7_way_icon2_1_2 left"> .sy_activ7_way_icon2_1_2</div>
<div class="sy_activ7_way_icon2_1_3 left"> .sy_activ7_way_icon2_1_3</div>
<div class="sy_activ7_way_icon2_2_1 left"> .sy_activ7_way_icon2_2_1</div>
<div class="sy_activ7_way_icon2_2_2 left"> .sy_activ7_way_icon2_2_2</div>
<div class="sy_activ7_way_icon2_2_3 left"> .sy_activ7_way_icon2_2_3</div>
<div class="sy_activ7_way_icon2_3_1 left"> .sy_activ7_way_icon2_3_1</div>
<div class="sy_activ7_way_icon2_3_2 left"> .sy_activ7_way_icon2_3_2</div>
<div class="sy_activ7_way_icon2_3_3 left"> .sy_activ7_way_icon2_3_3</div>
<div class="sy_activ7_way_icon2_4_1 left"> .sy_activ7_way_icon2_4_1</div>
<div class="sy_activ7_way_icon2_4_2 left"> .sy_activ7_way_icon2_4_2</div>
<div class="sy_activ7_way_icon2_4_3 left"> .sy_activ7_way_icon2_4_3</div>
<div class="sy_activ7_way_icon2_5_1 left"> .sy_activ7_way_icon2_5_1</div>
<div class="sy_activ7_way_icon2_5_2 left"> .sy_activ7_way_icon2_5_2</div>
<div class="sy_activ7_way_icon2_5_3 left"> .sy_activ7_way_icon2_5_3</div>
<div class="sy_activ7_way_icon3_1_1 left"> .sy_activ7_way_icon3_1_1</div>
<div class="sy_activ7_way_icon3_1_2 left"> .sy_activ7_way_icon3_1_2</div>
<div class="sy_activ7_way_icon3_1_3 left"> .sy_activ7_way_icon3_1_3</div>
<div class="sy_activ7_way_icon3_2_1 left"> .sy_activ7_way_icon3_2_1</div>
<div class="sy_activ7_way_icon3_2_2 left"> .sy_activ7_way_icon3_2_2</div>
<div class="sy_activ7_way_icon3_2_3 left"> .sy_activ7_way_icon3_2_3</div>
<div class="sy_activ7_way_icon4_1_1 left"> .sy_activ7_way_icon4_1_1</div>
<div class="sy_activ7_way_icon4_1_2 left"> .sy_activ7_way_icon4_1_2</div>
<div class="sy_activ7_way_icon4_1_3 left"> .sy_activ7_way_icon4_1_3</div>
<div class="sy_activ8_fund_bg left"> .sy_activ8_fund_bg</div>
<div class="sy_activ8_fund_icon left"> .sy_activ8_fund_icon</div>
