<link rel="stylesheet" href="/build/style.css"/>
<div class="gn_bg_2 left"> .gn_bg_2</div>
<div class="gn_bg_headband left"> .gn_bg_headband</div>
<div class="gn_bg_pure_color left"> .gn_bg_pure_color</div>
<div class="gn_bg_pure_color_with_outline left"> .gn_bg_pure_color_with_outline</div>
<div class="gn_bg_pure_color_with_radius left"> .gn_bg_pure_color_with_radius</div>
<div class="gn_bg_square_outline left"> .gn_bg_square_outline</div>
<div class="gn_bg_square_with_outline left"> .gn_bg_square_with_outline</div>
<div class="gn_bg_summon_hero_box_title left"> .gn_bg_summon_hero_box_title</div>
<div class="gn_bg_white_with_border left"> .gn_bg_white_with_border</div>
<div class="pet_bg_lock left"> .pet_bg_lock</div>
<div class="pet_bg_unlock left"> .pet_bg_unlock</div>
