<link rel="stylesheet" href="/build/style.css"/>
<div class="sy_cast_building_altar left"> .sy_cast_building_altar</div>
<div class="sy_cast_building_brave left"> .sy_cast_building_brave</div>
<div class="sy_cast_building_get_hero left"> .sy_cast_building_get_hero</div>
<div class="sy_cast_building_hero_trial left"> .sy_cast_building_hero_trial</div>
<div class="sy_cast_building_hero_upgrade left"> .sy_cast_building_hero_upgrade</div>
<div class="sy_cast_building_pvp left"> .sy_cast_building_pvp</div>
<div class="sy_cast_building_rotary left"> .sy_cast_building_rotary</div>
<div class="sy_cast_building_shop left"> .sy_cast_building_shop</div>
<div class="sy_cast_building_smithy left"> .sy_cast_building_smithy</div>
<div class="sy_cast_building_tavern left"> .sy_cast_building_tavern</div>
<div class="sy_cast_building_tower left"> .sy_cast_building_tower</div>
<div class="sy_cast_building_tree left"> .sy_cast_building_tree</div>
<div class="sy_cast_cloud_1 left"> .sy_cast_cloud_1</div>
<div class="sy_cast_cloud_2 left"> .sy_cast_cloud_2</div>
<div class="sy_cast_cloud_3 left"> .sy_cast_cloud_3</div>
<div class="sy_cast_cloud_4 left"> .sy_cast_cloud_4</div>
<div class="sy_cast_cloud_5 left"> .sy_cast_cloud_5</div>
