<link rel="stylesheet" href="/build/style.css"/>
<div class="sy_bg_void_for_door_1 left"> .sy_bg_void_for_door_1</div>
<div class="sy_bg_void_for_door_1_small left"> .sy_bg_void_for_door_1_small</div>
<div class="sy_bg_void_for_door_2 left"> .sy_bg_void_for_door_2</div>
<div class="sy_bg_void_for_door_2_small left"> .sy_bg_void_for_door_2_small</div>
<div class="sy_bg_void_for_door_3 left"> .sy_bg_void_for_door_3</div>
<div class="sy_bg_void_for_door_3_small left"> .sy_bg_void_for_door_3_small</div>
<div class="sy_bg_void_for_door_4 left"> .sy_bg_void_for_door_4</div>
<div class="sy_bg_void_for_door_4_small left"> .sy_bg_void_for_door_4_small</div>
<div class="sy_bg_void_for_door_5 left"> .sy_bg_void_for_door_5</div>
<div class="sy_bg_void_for_door_5_small left"> .sy_bg_void_for_door_5_small</div>
<div class="sy_bg_void_for_door_rank_head left"> .sy_bg_void_for_door_rank_head</div>
<div class="sy_bg_void_for_door_shop left"> .sy_bg_void_for_door_shop</div>
<div class="sy_bg_void_for_door_shop_font left"> .sy_bg_void_for_door_shop_font</div>
<div class="sy_bg_void_for_door_shop_head_1 left"> .sy_bg_void_for_door_shop_head_1</div>
<div class="sy_bg_void_for_door_shop_head_2 left"> .sy_bg_void_for_door_shop_head_2</div>
