<div class="sy_guild_cloud_1 left"> .sy_guild_cloud_1</div>
<div class="sy_guild_cloud_2 left"> .sy_guild_cloud_2</div>
<div class="sy_guild_cloud_3 left"> .sy_guild_cloud_3</div>
<div class="sy_guild_cloud_4 left"> .sy_guild_cloud_4</div>
<div class="sy_guild_cloud_5 left"> .sy_guild_cloud_5</div>
<div class="sy_guild_main_castle left"> .sy_guild_main_castle</div>
<div class="sy_guild_market left"> .sy_guild_market</div>
<div class="sy_guild_mill left"> .sy_guild_mill</div>
<div class="sy_guild_mill2 left"> .sy_guild_mill2</div>
<div class="sy_guild_star_little left"> .sy_guild_star_little</div>
<div class="sy_guild_tech_bg left"> .sy_guild_tech_bg</div>
<div class="sy_guild_technology left"> .sy_guild_technology</div>
