<div class="it_coin_advanced left"> .it_coin_advanced</div>
<div class="it_coin_awaken_assassin left"> .it_coin_awaken_assassin</div>
<div class="it_coin_awaken_priest left"> .it_coin_awaken_priest</div>
<div class="it_coin_awaken_ranger left"> .it_coin_awaken_ranger</div>
<div class="it_coin_awaken_soldier left"> .it_coin_awaken_soldier</div>
<div class="it_coin_awaken_wizard left"> .it_coin_awaken_wizard</div>
<div class="it_coin_boos left"> .it_coin_boos</div>
<div class="it_coin_boss_ticket left"> .it_coin_boss_ticket</div>
<div class="it_coin_coin_soul left"> .it_coin_coin_soul</div>
<div class="it_coin_diamond left"> .it_coin_diamond</div>
<div class="it_coin_dragon_coin left"> .it_coin_dragon_coin</div>
<div class="it_coin_dust left"> .it_coin_dust</div>
<div class="it_coin_elite_hero left"> .it_coin_elite_hero</div>
<div class="it_coin_exp left"> .it_coin_exp</div>
<div class="it_coin_glory_coin left"> .it_coin_glory_coin</div>
<div class="it_coin_gold left"> .it_coin_gold</div>
<div class="it_coin_guild_exp left"> .it_coin_guild_exp</div>
<div class="it_coin_guled left"> .it_coin_guled</div>
<div class="it_coin_heart left"> .it_coin_heart</div>
<div class="it_coin_hero_normal left"> .it_coin_hero_normal</div>
<div class="it_coin_hero_super left"> .it_coin_hero_super</div>
<div class="it_coin_jiaozi left"> .it_coin_jiaozi</div>
<div class="it_coin_lucky_coin left"> .it_coin_lucky_coin</div>
<div class="it_coin_pet_circle left"> .it_coin_pet_circle</div>
<div class="it_coin_pet_up left"> .it_coin_pet_up</div>
<div class="it_coin_quest_energy left"> .it_coin_quest_energy</div>
<div class="it_coin_quest_normal left"> .it_coin_quest_normal</div>
<div class="it_coin_quest_super left"> .it_coin_quest_super</div>
<div class="it_coin_slotmachine_one left"> .it_coin_slotmachine_one</div>
<div class="it_coin_slotmachine_ten left"> .it_coin_slotmachine_ten</div>
<div class="it_coin_soul left"> .it_coin_soul</div>
<div class="it_coin_special_drop1 left"> .it_coin_special_drop1</div>
<div class="it_coin_strength left"> .it_coin_strength</div>
<div class="it_coin_ticket left"> .it_coin_ticket</div>
<div class="it_coin_tree_coin left"> .it_coin_tree_coin</div>
<div class="it_coin_tree_summon left"> .it_coin_tree_summon</div>
<div class="it_coin_vip_exp left"> .it_coin_vip_exp</div>
<div class="it_coin_water left"> .it_coin_water</div>
<div class="it_coin_wish left"> .it_coin_wish</div>
<div class="it_coin_wish_100 left"> .it_coin_wish_100</div>
<div class="it_coin_wish_40 left"> .it_coin_wish_40</div>
<div class="it_coin_wish_super left"> .it_coin_wish_super</div>
<div class="it_coin_world_boss left"> .it_coin_world_boss</div>
<div class="it_coin_yarn_ball left"> .it_coin_yarn_ball</div>
<div class="it_digit_0 left"> .it_digit_0</div>
<div class="it_digit_1 left"> .it_digit_1</div>
<div class="it_digit_2 left"> .it_digit_2</div>
<div class="it_digit_3 left"> .it_digit_3</div>
<div class="it_digit_4 left"> .it_digit_4</div>
<div class="it_digit_5 left"> .it_digit_5</div>
<div class="it_digit_6 left"> .it_digit_6</div>
<div class="it_digit_7 left"> .it_digit_7</div>
<div class="it_digit_8 left"> .it_digit_8</div>
<div class="it_digit_9 left"> .it_digit_9</div>
<div class="it_digit_a left"> .it_digit_a</div>
<div class="it_digit_b left"> .it_digit_b</div>
<div class="it_digit_e left"> .it_digit_e</div>
<div class="it_digit_k left"> .it_digit_k</div>
<div class="it_digit_m left"> .it_digit_m</div>
<div class="it_digit_q left"> .it_digit_q</div>
<div class="it_digit_r left"> .it_digit_r</div>
<div class="it_digit_w left"> .it_digit_w</div>
<div class="it_equi_access_1 left"> .it_equi_access_1</div>
<div class="it_equi_access_10 left"> .it_equi_access_10</div>
<div class="it_equi_access_11 left"> .it_equi_access_11</div>
<div class="it_equi_access_12 left"> .it_equi_access_12</div>
<div class="it_equi_access_13 left"> .it_equi_access_13</div>
<div class="it_equi_access_14 left"> .it_equi_access_14</div>
<div class="it_equi_access_15 left"> .it_equi_access_15</div>
<div class="it_equi_access_16 left"> .it_equi_access_16</div>
<div class="it_equi_access_17 left"> .it_equi_access_17</div>
<div class="it_equi_access_2 left"> .it_equi_access_2</div>
<div class="it_equi_access_3 left"> .it_equi_access_3</div>
<div class="it_equi_access_4 left"> .it_equi_access_4</div>
<div class="it_equi_access_5 left"> .it_equi_access_5</div>
<div class="it_equi_access_6 left"> .it_equi_access_6</div>
<div class="it_equi_access_7 left"> .it_equi_access_7</div>
<div class="it_equi_access_8 left"> .it_equi_access_8</div>
<div class="it_equi_access_9 left"> .it_equi_access_9</div>
<div class="it_equi_access_empty left"> .it_equi_access_empty</div>
<div class="it_equi_armor_1 left"> .it_equi_armor_1</div>
<div class="it_equi_armor_10 left"> .it_equi_armor_10</div>
<div class="it_equi_armor_11 left"> .it_equi_armor_11</div>
<div class="it_equi_armor_12 left"> .it_equi_armor_12</div>
<div class="it_equi_armor_13 left"> .it_equi_armor_13</div>
<div class="it_equi_armor_14 left"> .it_equi_armor_14</div>
<div class="it_equi_armor_15 left"> .it_equi_armor_15</div>
<div class="it_equi_armor_16 left"> .it_equi_armor_16</div>
<div class="it_equi_armor_17 left"> .it_equi_armor_17</div>
<div class="it_equi_armor_2 left"> .it_equi_armor_2</div>
<div class="it_equi_armor_3 left"> .it_equi_armor_3</div>
<div class="it_equi_armor_4 left"> .it_equi_armor_4</div>
<div class="it_equi_armor_5 left"> .it_equi_armor_5</div>
<div class="it_equi_armor_6 left"> .it_equi_armor_6</div>
<div class="it_equi_armor_7 left"> .it_equi_armor_7</div>
<div class="it_equi_armor_8 left"> .it_equi_armor_8</div>
<div class="it_equi_armor_9 left"> .it_equi_armor_9</div>
<div class="it_equi_armor_empty left"> .it_equi_armor_empty</div>
<div class="it_equi_artif_2_career_1 left"> .it_equi_artif_2_career_1</div>
<div class="it_equi_artif_2_career_2 left"> .it_equi_artif_2_career_2</div>
<div class="it_equi_artif_2_career_3 left"> .it_equi_artif_2_career_3</div>
<div class="it_equi_artif_2_career_4 left"> .it_equi_artif_2_career_4</div>
<div class="it_equi_artif_2_career_5 left"> .it_equi_artif_2_career_5</div>
<div class="it_equi_artif_3_career_1 left"> .it_equi_artif_3_career_1</div>
<div class="it_equi_artif_3_career_2 left"> .it_equi_artif_3_career_2</div>
<div class="it_equi_artif_3_career_3 left"> .it_equi_artif_3_career_3</div>
<div class="it_equi_artif_3_career_4 left"> .it_equi_artif_3_career_4</div>
<div class="it_equi_artif_3_career_5 left"> .it_equi_artif_3_career_5</div>
<div class="it_equi_artif_4_career_1 left"> .it_equi_artif_4_career_1</div>
<div class="it_equi_artif_4_career_2 left"> .it_equi_artif_4_career_2</div>
<div class="it_equi_artif_4_career_3 left"> .it_equi_artif_4_career_3</div>
<div class="it_equi_artif_4_career_4 left"> .it_equi_artif_4_career_4</div>
<div class="it_equi_artif_4_career_5 left"> .it_equi_artif_4_career_5</div>
<div class="it_equi_artif_5_career_1 left"> .it_equi_artif_5_career_1</div>
<div class="it_equi_artif_5_career_2 left"> .it_equi_artif_5_career_2</div>
<div class="it_equi_artif_5_career_3 left"> .it_equi_artif_5_career_3</div>
<div class="it_equi_artif_5_career_4 left"> .it_equi_artif_5_career_4</div>
<div class="it_equi_artif_5_career_5 left"> .it_equi_artif_5_career_5</div>
<div class="it_equi_artif_5_hit_rat left"> .it_equi_artif_5_hit_rat</div>
<div class="it_equi_artif_5_speed left"> .it_equi_artif_5_speed</div>
<div class="it_equi_artif_6_career_1 left"> .it_equi_artif_6_career_1</div>
<div class="it_equi_artif_6_career_2 left"> .it_equi_artif_6_career_2</div>
<div class="it_equi_artif_6_career_3 left"> .it_equi_artif_6_career_3</div>
<div class="it_equi_artif_6_career_4 left"> .it_equi_artif_6_career_4</div>
<div class="it_equi_artif_6_career_5 left"> .it_equi_artif_6_career_5</div>
<div class="it_equi_artif_6_damage_redu left"> .it_equi_artif_6_damage_redu</div>
<div class="it_equi_artif_6_damage_true left"> .it_equi_artif_6_damage_true</div>
<div class="it_equi_artif_6_faction_1 left"> .it_equi_artif_6_faction_1</div>
<div class="it_equi_artif_6_faction_2 left"> .it_equi_artif_6_faction_2</div>
<div class="it_equi_artif_6_faction_3 left"> .it_equi_artif_6_faction_3</div>
<div class="it_equi_artif_6_faction_4 left"> .it_equi_artif_6_faction_4</div>
<div class="it_equi_artif_6_faction_5 left"> .it_equi_artif_6_faction_5</div>
<div class="it_equi_artif_6_faction_6 left"> .it_equi_artif_6_faction_6</div>
<div class="it_equi_artif_6_hit_rat left"> .it_equi_artif_6_hit_rat</div>
<div class="it_equi_artif_6_speed left"> .it_equi_artif_6_speed</div>
<div class="it_equi_artif_dust left"> .it_equi_artif_dust</div>
<div class="it_equi_artif_empty left"> .it_equi_artif_empty</div>
<div class="it_equi_artif_piece_3 left"> .it_equi_artif_piece_3</div>
<div class="it_equi_artif_piece_4 left"> .it_equi_artif_piece_4</div>
<div class="it_equi_artif_piece_5 left"> .it_equi_artif_piece_5</div>
<div class="it_equi_artif_piece_6 left"> .it_equi_artif_piece_6</div>
<div class="it_equi_artif_piece_special_5 left"> .it_equi_artif_piece_special_5</div>
<div class="it_equi_artif_piece_special_6 left"> .it_equi_artif_piece_special_6</div>
<div class="it_equi_artif_xxx left"> .it_equi_artif_xxx</div>
<div class="it_equi_gen_1 left"> .it_equi_gen_1</div>
<div class="it_equi_gen_2 left"> .it_equi_gen_2</div>
<div class="it_equi_gen_3 left"> .it_equi_gen_3</div>
<div class="it_equi_gen_4 left"> .it_equi_gen_4</div>
<div class="it_equi_gen_5 left"> .it_equi_gen_5</div>
<div class="it_equi_gen_6 left"> .it_equi_gen_6</div>
<div class="it_equi_gen_7 left"> .it_equi_gen_7</div>
<div class="it_equi_shoes_1 left"> .it_equi_shoes_1</div>
<div class="it_equi_shoes_10 left"> .it_equi_shoes_10</div>
<div class="it_equi_shoes_11 left"> .it_equi_shoes_11</div>
<div class="it_equi_shoes_12 left"> .it_equi_shoes_12</div>
<div class="it_equi_shoes_13 left"> .it_equi_shoes_13</div>
<div class="it_equi_shoes_14 left"> .it_equi_shoes_14</div>
<div class="it_equi_shoes_15 left"> .it_equi_shoes_15</div>
<div class="it_equi_shoes_16 left"> .it_equi_shoes_16</div>
<div class="it_equi_shoes_17 left"> .it_equi_shoes_17</div>
<div class="it_equi_shoes_2 left"> .it_equi_shoes_2</div>
<div class="it_equi_shoes_3 left"> .it_equi_shoes_3</div>
<div class="it_equi_shoes_4 left"> .it_equi_shoes_4</div>
<div class="it_equi_shoes_5 left"> .it_equi_shoes_5</div>
<div class="it_equi_shoes_6 left"> .it_equi_shoes_6</div>
<div class="it_equi_shoes_7 left"> .it_equi_shoes_7</div>
<div class="it_equi_shoes_8 left"> .it_equi_shoes_8</div>
<div class="it_equi_shoes_9 left"> .it_equi_shoes_9</div>
<div class="it_equi_shoes_empty left"> .it_equi_shoes_empty</div>
<div class="it_equi_treas_1 left"> .it_equi_treas_1</div>
<div class="it_equi_treas_2_attack left"> .it_equi_treas_2_attack</div>
<div class="it_equi_treas_2_hp left"> .it_equi_treas_2_hp</div>
<div class="it_equi_treas_3_attack left"> .it_equi_treas_3_attack</div>
<div class="it_equi_treas_3_crit left"> .it_equi_treas_3_crit</div>
<div class="it_equi_treas_3_hit_rate left"> .it_equi_treas_3_hit_rate</div>
<div class="it_equi_treas_3_hitrate left"> .it_equi_treas_3_hitrate</div>
<div class="it_equi_treas_3_hp left"> .it_equi_treas_3_hp</div>
<div class="it_equi_treas_4_armor_break left"> .it_equi_treas_4_armor_break</div>
<div class="it_equi_treas_4_attack left"> .it_equi_treas_4_attack</div>
<div class="it_equi_treas_4_crit left"> .it_equi_treas_4_crit</div>
<div class="it_equi_treas_4_dodge left"> .it_equi_treas_4_dodge</div>
<div class="it_equi_treas_4_hit_rate left"> .it_equi_treas_4_hit_rate</div>
<div class="it_equi_treas_4_hp left"> .it_equi_treas_4_hp</div>
<div class="it_equi_treas_5_armor_break left"> .it_equi_treas_5_armor_break</div>
<div class="it_equi_treas_5_attack left"> .it_equi_treas_5_attack</div>
<div class="it_equi_treas_5_attack_per left"> .it_equi_treas_5_attack_per</div>
<div class="it_equi_treas_5_crit left"> .it_equi_treas_5_crit</div>
<div class="it_equi_treas_5_crit_damage left"> .it_equi_treas_5_crit_damage</div>
<div class="it_equi_treas_5_damage_skill left"> .it_equi_treas_5_damage_skill</div>
<div class="it_equi_treas_5_dodge left"> .it_equi_treas_5_dodge</div>
<div class="it_equi_treas_5_hit_rate left"> .it_equi_treas_5_hit_rate</div>
<div class="it_equi_treas_5_hp left"> .it_equi_treas_5_hp</div>
<div class="it_equi_treas_5_hp_per left"> .it_equi_treas_5_hp_per</div>
<div class="it_equi_treas_6_armor_break left"> .it_equi_treas_6_armor_break</div>
<div class="it_equi_treas_6_attack left"> .it_equi_treas_6_attack</div>
<div class="it_equi_treas_6_attack_per left"> .it_equi_treas_6_attack_per</div>
<div class="it_equi_treas_6_crit left"> .it_equi_treas_6_crit</div>
<div class="it_equi_treas_6_crit_damage left"> .it_equi_treas_6_crit_damage</div>
<div class="it_equi_treas_6_damage_skill left"> .it_equi_treas_6_damage_skill</div>
<div class="it_equi_treas_6_damage_true left"> .it_equi_treas_6_damage_true</div>
<div class="it_equi_treas_6_dodge left"> .it_equi_treas_6_dodge</div>
<div class="it_equi_treas_6_hit_rate left"> .it_equi_treas_6_hit_rate</div>
<div class="it_equi_treas_6_hp left"> .it_equi_treas_6_hp</div>
<div class="it_equi_treas_6_hp_per left"> .it_equi_treas_6_hp_per</div>
<div class="it_equi_treas_7_armor_break left"> .it_equi_treas_7_armor_break</div>
<div class="it_equi_treas_7_attack left"> .it_equi_treas_7_attack</div>
<div class="it_equi_treas_7_attack_per left"> .it_equi_treas_7_attack_per</div>
<div class="it_equi_treas_7_crit left"> .it_equi_treas_7_crit</div>
<div class="it_equi_treas_7_crit_damage left"> .it_equi_treas_7_crit_damage</div>
<div class="it_equi_treas_7_damage_redu left"> .it_equi_treas_7_damage_redu</div>
<div class="it_equi_treas_7_damage_skill left"> .it_equi_treas_7_damage_skill</div>
<div class="it_equi_treas_7_damage_true left"> .it_equi_treas_7_damage_true</div>
<div class="it_equi_treas_7_dodge left"> .it_equi_treas_7_dodge</div>
<div class="it_equi_treas_7_hit_rate left"> .it_equi_treas_7_hit_rate</div>
<div class="it_equi_treas_7_hp left"> .it_equi_treas_7_hp</div>
<div class="it_equi_treas_7_hp_per left"> .it_equi_treas_7_hp_per</div>
<div class="it_equi_treas_7_speed left"> .it_equi_treas_7_speed</div>
<div class="it_equi_treas_empty left"> .it_equi_treas_empty</div>
<div class="it_equi_treas_xxx left"> .it_equi_treas_xxx</div>
<div class="it_equi_weapon_1 left"> .it_equi_weapon_1</div>
<div class="it_equi_weapon_10 left"> .it_equi_weapon_10</div>
<div class="it_equi_weapon_11 left"> .it_equi_weapon_11</div>
<div class="it_equi_weapon_12 left"> .it_equi_weapon_12</div>
<div class="it_equi_weapon_13 left"> .it_equi_weapon_13</div>
<div class="it_equi_weapon_14 left"> .it_equi_weapon_14</div>
<div class="it_equi_weapon_15 left"> .it_equi_weapon_15</div>
<div class="it_equi_weapon_16 left"> .it_equi_weapon_16</div>
<div class="it_equi_weapon_17 left"> .it_equi_weapon_17</div>
<div class="it_equi_weapon_2 left"> .it_equi_weapon_2</div>
<div class="it_equi_weapon_3 left"> .it_equi_weapon_3</div>
<div class="it_equi_weapon_4 left"> .it_equi_weapon_4</div>
<div class="it_equi_weapon_5 left"> .it_equi_weapon_5</div>
<div class="it_equi_weapon_6 left"> .it_equi_weapon_6</div>
<div class="it_equi_weapon_7 left"> .it_equi_weapon_7</div>
<div class="it_equi_weapon_8 left"> .it_equi_weapon_8</div>
<div class="it_equi_weapon_9 left"> .it_equi_weapon_9</div>
<div class="it_equi_weapon_empty left"> .it_equi_weapon_empty</div>
<div class="it_equi_weapon_sword left"> .it_equi_weapon_sword</div>
<div class="it_fact_1 left"> .it_fact_1</div>
<div class="it_fact_2 left"> .it_fact_2</div>
<div class="it_fact_3 left"> .it_fact_3</div>
<div class="it_fact_4 left"> .it_fact_4</div>
<div class="it_fact_5 left"> .it_fact_5</div>
<div class="it_fact_6 left"> .it_fact_6</div>
<div class="it_frame_1 left"> .it_frame_1</div>
<div class="it_frame_2 left"> .it_frame_2</div>
<div class="it_frame_3 left"> .it_frame_3</div>
<div class="it_frame_4 left"> .it_frame_4</div>
<div class="it_frame_5 left"> .it_frame_5</div>
<div class="it_frame_6 left"> .it_frame_6</div>
<div class="it_frame_7 left"> .it_frame_7</div>
<div class="it_frame_artifact_1 left"> .it_frame_artifact_1</div>
<div class="it_frame_artifact_2 left"> .it_frame_artifact_2</div>
<div class="it_frame_artifact_3 left"> .it_frame_artifact_3</div>
<div class="it_frame_artifact_4 left"> .it_frame_artifact_4</div>
<div class="it_frame_artifact_5 left"> .it_frame_artifact_5</div>
<div class="it_frame_artifact_6 left"> .it_frame_artifact_6</div>
<div class="it_frame_artifact_7 left"> .it_frame_artifact_7</div>
<div class="it_hero_piece_3 left"> .it_hero_piece_3</div>
<div class="it_hero_piece_4 left"> .it_hero_piece_4</div>
<div class="it_hero_piece_5 left"> .it_hero_piece_5</div>
<div class="it_icon_exp_0 left"> .it_icon_exp_0</div>
<div class="it_icon_exp_1 left"> .it_icon_exp_1</div>
<div class="it_icon_exp_2 left"> .it_icon_exp_2</div>
<div class="it_icon_prompt_red left"> .it_icon_prompt_red</div>
<div class="it_jewel_1 left"> .it_jewel_1</div>
<div class="it_jewel_2 left"> .it_jewel_2</div>
<div class="it_jewel_3 left"> .it_jewel_3</div>
<div class="it_jewel_4 left"> .it_jewel_4</div>
<div class="it_jewel_5 left"> .it_jewel_5</div>
<div class="it_jewel_6 left"> .it_jewel_6</div>
<div class="it_jewel_7 left"> .it_jewel_7</div>
<div class="it_num_bar left"> .it_num_bar</div>
<div class="it_othe_coin_arena left"> .it_othe_coin_arena</div>
<div class="it_othe_coin_dragon left"> .it_othe_coin_dragon</div>
<div class="it_othe_coin_guild left"> .it_othe_coin_guild</div>
<div class="it_othe_diamond left"> .it_othe_diamond</div>
<div class="it_othe_dust left"> .it_othe_dust</div>
<div class="it_othe_dust1 left"> .it_othe_dust1</div>
<div class="it_othe_exp left"> .it_othe_exp</div>
<div class="it_othe_gold left"> .it_othe_gold</div>
<div class="it_othe_spirit left"> .it_othe_spirit</div>
<div class="it_othe_spirit1 left"> .it_othe_spirit1</div>
<div class="it_othe_stone left"> .it_othe_stone</div>
<div class="it_othe_stone1 left"> .it_othe_stone1</div>
<div class="it_star left"> .it_star</div>
<div class="it_step_1 left"> .it_step_1</div>
<div class="it_step_2 left"> .it_step_2</div>
<div class="it_step_3 left"> .it_step_3</div>
<div class="it_step_4 left"> .it_step_4</div>
<div class="it_step_5 left"> .it_step_5</div>
<div class="it_step_6 left"> .it_step_6</div>
<div class="it_step_7 left"> .it_step_7</div>
<div class="it_step_diamond_1 left"> .it_step_diamond_1</div>
<div class="it_step_diamond_2 left"> .it_step_diamond_2</div>
<div class="it_step_diamond_3 left"> .it_step_diamond_3</div>
<div class="it_step_diamond_4 left"> .it_step_diamond_4</div>
<div class="it_step_diamond_5 left"> .it_step_diamond_5</div>
<div class="it_step_diamond_6 left"> .it_step_diamond_6</div>
<div class="it_step_diamond_7 left"> .it_step_diamond_7</div>
<div class="it_step_super_1 left"> .it_step_super_1</div>
<div class="it_step_super_2 left"> .it_step_super_2</div>
<div class="it_step_super_3 left"> .it_step_super_3</div>
<div class="it_step_super_4 left"> .it_step_super_4</div>
<div class="it_step_super_5 left"> .it_step_super_5</div>
<div class="it_step_super_6 left"> .it_step_super_6</div>
<div class="it_step_super_7 left"> .it_step_super_7</div>
<div class="logo_ali_100 left"> .logo_ali_100</div>
<div class="logo_wx_100 left"> .logo_wx_100</div>
